Repository mean-ui-thread/soa-c: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "src/**/*": "prettier --write",
  "src/**/*.ts": "eslint --fix"
}

CLI tool up and running
  .eslintrc
  .gitignore
  bin/soa-c
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

snake/camel case support
  .husky/pre-commit
  .lintstagedrc
  examples/scene_node.json
  package.json
  pnpm-lock.yaml
  src/descriptor.ts
  src/index.ts
  src/makeCIdentifier.ts
  src/soa_c.ts
  src/templates/soa.h.template
Due: prettier --write, eslint --fix

header WIP
  .eslintrc
  .npmrc
  examples/scene_node.json
  package.json
  pnpm-lock.yaml
  src/descriptor.ts
  src/details.json
  src/index.ts
  src/soa_c.ts
  src/templates/soa.c.template
  src/templates/soa.h.template
  src/utils.ts
  tsconfig.json
Due: prettier --write, eslint --fix

schema document
  docs/schema/descriptor.json
  examples/scene_node.json
  package.json
  src/descriptor.ts
  src/index.ts
Due: prettier --write, eslint --fix

attached schema file
  examples/scene_node.json
Due: none

output path
  docs/schema/descriptor.json
  examples/scene_node.json
  src/descriptor.ts
Due: prettier --write, eslint --fix

improved functionality
  .eslintignore
  docs/schema/descriptor.json
  examples/scene_node.json
  package.json
  pnpm-lock.yaml
  src/descriptor.ts
  src/index.ts
  src/soa_c.ts
  src/templates/soa.c.template
  src/templates/soa.h.template
  src/templates/soa.heading.template
Due: prettier --write, eslint --fix

added init/shutdown/create/destroy
  .eslintignore
  examples/scene_node.json
  src/templates/soa.h.template
Due: prettier --write

init and shutdown source code
  src/soa_c.ts
  src/templates/soa.c.template
  src/templates/soa.h.template
Due: prettier --write, eslint --fix

improvements
  package.json
  src/soa_c.ts
  src/templates/heading.ts
  src/templates/soa.c.template
  src/templates/soa.h.template
  src/templates/soa.heading.template
  src/templates/soaHeader.ts
  src/templates/soaSource.ts
  src/types.ts
  src/utils/makeCIdentifier.ts
  tsconfig.json
Due: prettier --write, eslint --fix

more improvements
  .eslintignore
  .gitignore
  package.json
  scripts/prebuild.sh
  src/descriptor.ts
  src/details.json
  src/index.ts
  src/templates/heading.ts
Due: prettier --write, eslint --fix

no longer need to be allowing the import of json modules
  tsconfig.json
Due: none

improved linting/formatting
  .eslintignore
  .lintstagedrc
  .prettierrc.js
  README.md
  examples/scene_node.json
  package.json
  tsconfig.json
Due: none

single header style
  .gitignore
  docs/schema/descriptor.json
  examples/generated/CMakeLists.txt
  examples/generated/CMakePresets.json
  examples/generated/sceneNode.c
  examples/generated/sceneNode.h
  examples/scene_node.json
  src/soa_c.ts
  src/templates/definitions.ts
  src/templates/functions.ts
  src/templates/heading.ts
  src/templates/includes.ts
  src/templates/soaHeader.ts
  src/templates/soaSource.ts
  src/templates/structures.ts
Due: prettier --write, eslint --fix

Added cmake project to compile generated example to prove the output is free of compiler errors and warnings
  CMakeLists.txt
  CMakePresets.json
  docs/schema/descriptor.json
  examples/sceneNode.json
  examples/sceneNode/sceneNode.c
  examples/sceneNode/sceneNode.h
  scripts/prebuild.sh
  src/index.ts
  src/soa_c.ts
  src/stringUtils.ts
  src/style.ts
  src/templates/definitions.ts
  src/templates/functions.ts
  src/templates/heading.ts
  src/templates/includes.ts
  src/templates/soaHeader.ts
  src/templates/structures.ts
  src/types.ts
  src/utils/makeCIdentifier.ts
Due: prettier --write, eslint --fix

added implicit estlint-disable instead of disbling eslint on the entire generated files
  .eslintignore
  package.json
  scripts/prebuild.sh
Due: none

major refactor/cleanup.
  .editorconfig
  .gitignore
  .lintstagedrc
  .vscode/extensions.json
  .vscode/settings.json
  CMakeLists.txt
  docs/schema/descriptor.json
  examples/sceneNode.json
  examples/sceneNode/SceneNode.c
  examples/sceneNode/SceneNode.h
  package.json
  pnpm-lock.yaml
  scripts/prebuild.sh
  src/index.ts
  src/soa_c.ts
  src/stringUtils.ts
  src/style.ts
  src/templates/definitions.ts
  src/templates/functions.ts
  src/templates/heading.ts
  src/templates/includes.ts
  src/templates/soaHeader.ts
  src/templates/structures.ts
  src/types.ts
Due: prettier --write, eslint --fix

prettier ignore
  .prettierignore
Due: none

new grab/drop and reference count
  .lintstagedrc
  docs/schema/descriptor.json
  examples/sceneNode.json
  examples/sceneNode/SceneNode.h
  package.json
  src/index.ts
  src/schema/descriptor.json
  src/soa_c.ts
  src/style.ts
  src/templates/definitions.ts
  src/templates/functions.ts
  src/templates/heading.ts
  src/templates/includes.ts
  src/templates/structures.ts
  tsconfig.json
Due: prettier --write, eslint --fix

improved prebuilt and fixed eslint properely
  .eslintignore
  .lintstagedrc
  .prettierignore
  .vscode/settings.json
  README.md
  examples/sceneNode/SceneNode.h
  package.json
  scripts/common.sh
  scripts/genConstants.js
  scripts/prebuild.sh
  src/templates/functions.ts
Due: prettier --write, eslint --fix

wip
  .vscode/settings.json
  CMakeLists.txt
  CMakePresets.json
  examples/sceneNode/SceneNode.h
  package.json
  pnpm-lock.yaml
  scripts/prebuild.sh
  src/style.ts
  src/templates/definitions.ts
  src/templates/functions.ts
  src/templates/includes.ts
  src/templates/soaHeader.ts
  src/templates/structures.ts
Due: prettier --write, eslint --fix
